# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# PyCharm
.idea/

# Jupyter
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Large model checkpoints
*.pt
*.pth
*.ckpt

# Optional: temporary logs
*.log